<% if user_signed_in? %>

  <% if !current_user.employee%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Por favor, complete seu cadastro <%= link_to "clicando aqui", new_employee_path %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <h1>Funcionários</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ramal</th>
        <th>E-mail<th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name %> <%= employee.last_name %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% else %>
  <%= render("home/index") %>
<% end %>